{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-header">
  <h1>Delete Topic?</h1>
  <img src="{% static 'images/ga-logo.png' %}" alt="General Assembly"/>
</div>
<h2>Are you sure you want to delete {{ topic.name }}?</h2>

<form action="" method="POST" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'topics_detail' topic.id %}" 
    class="btn secondary"
  >
    Cancel
  </a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}