{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/topics/topic-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="topic-container">
  <div class="topic-img">
    {% if topic.category == 'Javascript' %}
      <img id='logo'
        src="{% static 'images/js.png' %}" 
        alt="Javascript logo"
      >
    {% elif topic.category == 'React'%}
      <img id='logo'
        src="{% static 'images/react.png' %}" 
        alt="React logo"
      >
    {% else %}
      <img id='logo'
        src="{% static 'images/ga.png' %}" 
        alt="General Assembly logo"
      >
    {% endif %}
  </div>
  <div class="topic-details">
    <h1>{{ topic.name }}</h1>
    <p><a href="{{ topic.youtube_url  }}" target="_blank" rel="noopener noreferrer">Youtube</a> | 
      <a href="{{ topic.notion_url  }}" target="_blank" rel="noopener noreferrer">Notion</a></p>
    <p>{{ topic.description }}</p>
    <div class="topic-actions">
      <a href="{% url 'topics_update' topic.id %}" class="btn warn">Edit</a>
      <a href="{% url 'topics_delete' topic.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}